{% filter trim_final_newline -%}
{% for image in images -%}
{{creation_time.long}},{{SDX_FTP_IMAGES_PATH}}\{{image}},{{creation_time.short}},{{image|scan_id}},{{response.survey_id}},{{response.collection.instrument_id}},{{response.metadata.ru_ref|statistical_unit_id}},{{response.collection.period|format_period}},{{loop.index|format_page}}
{% endfor %}
{%- endfilter %}