<!DOCTYPE html>
    <title>{{ survey.title }}</title>
<body>
<h1>{{ survey.title }}</h1>
<ul>
    <li>Form Type: {{ response.collection.instrument_id }}</li>
    <li>Respondent: {{ response.metadata.ru_ref }}</li>
    <li>Submitted At: {{ response.submitted_at }}</li>
</ul>
{% for question_group in survey.question_groups %}
    <table>
        {% if question_group.title %}
        <thead>
            <tr>
                <th>{{question_group.title}}</th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% for question in question_group.questions %}
                <tr>
                    <td>{{question.text}}</td>
                    <td>{{response.data[question.question_id]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
</body>
</html>