<!DOCTYPE html>
    <title>{{ survey.title }}</title>
<body>
<h1>{{ survey.title }}</h1>
<ul>
    <li>Form Type: {{ response.collection.instrument_id }}</li>
    <li>Respondent: {{ response.metadata.ru_ref }}</li>
    <li>Submitted At: {{ response.submitted_at }}</li>
</ul>
{% for answer_group in survey.answer_groups %}
    <table>
        {% if answer_group.title %}
        <thead>
            <tr>
                <th>{{answer_group.title}}</th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% for answer in answer_group.answers %}
                <tr>
                    <td>{{answer.content}}</td>
                    <td>{{response.data[answer.question_id]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
</body>
</html>