<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="static/css/style.css" />
    </head>
    <title>{{ survey.title }}</title>
    <body>
    
    <table class="header">
        <thead>
            <tr><td colspan="2">{{ survey.title }}</td></tr>
        </thead>
        <tbody>
            <tr><td>Form Type</td><td>{{ response.collection.instrument_id }}</td></tr>
            <tr><td>Respondent</td> <td>{{ response.metadata.ru_ref }}</td></tr>
            <tr><td>Submitted At</td> <td>{{ response.submitted_at }}</td></tr>
        </tbody>
    </table>

    {% for question_group in survey.question_groups %}
        <table>
            {% if question_group.title %}
            <thead>
                <tr>
                    <th>{{question_group.title}}</th>
                    <th>{{question_group.meta}}</th>
                </tr>
            </thead>
            {% endif %}
            <tbody>
                {% for question in question_group.questions %}
                    {% if question.text %}
                        <tr>
                            <td>{{question.text}}</td>
                            <td>{{response.data[question.question_id]}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </body>
</html>