{% if batch_number -%}
FBFV{{'%06d' %batch_number}}{{submission_date}}
{% endif -%}
FV          
{{form_id}}:{{response.metadata.ru_ref}}:{{response.collection.period-}}
{% for question_id, answer in answers %}
{{'%04d' %question_id}} {{answer}}
{%- endfor %}