language: python
python:
  - "3.7"
  - "3.6"
sudo: required
before_install:
  - sudo apt-get update
  - sudo apt-get install -y poppler-utils
  - pip install --upgrade pip
install:
  - make build
  - pip install codecov
  - pip install -r test_requirements.txt
script:
  - pytest -v tests/ --cov=transform --cov-report html
after_success:
  - codecov
