[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
itsdangerous = "==1.1.0"
python-dateutil = "==2.8.1"
reportlab = "==3.5.42"
structlog = "==20.1.0"
arrow = "==0.15.6"
six = "==1.14.0"
gunicorn = "==20.0.4"
requests = "==2.23.0"
chardet = "==3.0.4"
urllib3 = "==1.25.9"
idna = "==2.9"
certifi = "==2020.4.5.1"
Flask = "==1.1.2"
Werkzeug = "==1.0.1"
Jinja2 = "==2.11.2"
Pillow = "==7.1.2"
MarkupSafe = "==1.1.1"

[dev-packages]
flake8 = "==3.8.1"
pyflakes = "==2.2.0"
responses = "==0.10.14"
pytest = "==5.4.2"
pytest-cov = "==2.8.1"
PyYAML = "==5.3.1"

[requires]
python_version = "3.8"
