[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
itsdangerous = "==1.1.0"
python-dateutil = "==2.8.1"
reportlab = "==3.5.67"
structlog = "==21.1.0"
arrow = "==1.0.3"
six = "==1.15.0"
gunicorn = "==20.1.0"
requests = "==2.25.1"
chardet = "==4.0.0"
urllib3 = "==1.26.4"
idna = "==2.9"
certifi = "==2020.12.5"
Flask = "==1.1.2"
Werkzeug = "==1.0.1"
Jinja2 = "==2.11.3"
Pillow = "==8.2.0"
MarkupSafe = "==1.1.1"

[dev-packages]
flake8 = "==3.9.1"
pyflakes = "==2.3.1"
responses = "==0.13.2"
pytest = "==6.2.3"
pytest-cov = "==2.11.1"
PyYAML = "==5.4.1"

[requires]
python_version = "3.8"
